<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Shattered Pixel Dungeon</display-name>

    <!-- GDX GWT backend superdev servlet (only needed for development) -->
    <servlet>
        <servlet-name>GdxFileServer</servlet-name>
        <servlet-class>com.badlogic.gdx.backends.gwt.GwtFileServer</servlet-class>
        <init-param>
            <param-name>assetpath</param-name>
            <param-value>.</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>GdxFileServer</servlet-name>
        <url-pattern>/assets/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
